
#textname{
position: fixed;
top: 290px;
left: 230px;
width: 130px;
}
#btnname{
position: fixed;
top: 290px;
left: 370px;
background-color: lightgreen;
height: 22px;
}
#leaderboard{
position: fixed;
top: 140px;
left: 860px;
height: 375px;
width: 0px;
/* width: 260px; */
background-color: bisque;
}
#showname{
float: left;
width: 180px;
}
#showscore{
margin-left: 180px;
}
p{
    font-family: 'Palatino';
    font-size: 25px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 25px;
}